body{
    text-align: center;
}
#board-game{
    background-color: rgba(0, 132, 255, 0.405);
    display: inline-block;    
    padding: 15px;
}
.col{
    width: 100px !important;
    height: 100px;
    display: inline-block !important;
    background-color: white;
    border-radius: 5%;
    margin: 2px;
    
}
.col.empty {
    cursor: pointer;
}
.autobot{
    background-image: url(../assets/autobots.png);
    background-size: contain;
}
.deceptacon{
    background-image: url(../assets/cybertrons.png);
    background-size: contain;
}
.katana{
    background-image: url(../assets/katana.png);
    background-size:contain;
}
.gun{
    background-image: url(../assets/gun.png);
    background-size:contain;
}
.machine-gun{
    background-image:url(../assets/machine-gun.png);
    background-size:contain;
}
.rocket-launcher{
    background-image:url(../assets/rocket-launcher.png);
    background-size:contain;
}
.wall{
    background-image: url(../assets/wall.png);
    background-size:contain;

}
.highlighted{
    border: 2px solid red;
}
.player-active{
    border: 2px solid green;
    background-color: green;
}
.player-not-active{
    border: 2px solid grey;
    background-color: grey;
}