body{
    text-align: center;
}
#board-game{
    background-color: rgba(0, 132, 255, 0.405);
    display: inline-block;    
    padding: 15px;
}
.col{
    width: 70px !important;
    height: 70px;
    display: inline-block !important;
    background-color: white;
    border-radius: 5%;
    margin: 2px;
    
}
.autobot{
    background-image: url(../assets/autobots.png);
    background-size: contain;
}
.cybertron{
    background-image: url(../assets/cybertrons.png);
    background-size: contain;
}